body {
    margin: 0;
}
.header {
    background-color: #1F2937;
    padding: 5px 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.hero-text {
    display: flex;
    
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: o;
    margin-left: auto;
    gap: 10px;
}

.my-intro1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.my-intro2 {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: #1F2937;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 5px 10px;
    max-width: 100px;
}

.about-me {
    display: flex;
    margin-bottom: 20px;
    margin-top: 60px;
}

.text-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

} 

.about-me img {
    max-width: 300px;
}


/* image section*/

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.image-section-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 50px;
}

.images img {
    width: 130px;
    height: 130px;
}

.information-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 130px;
    margin: 0 15px;
}

.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}


/* quote-section */

.quote-section {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #E5E7EB;
    /*padding: 50px 135px;*/
    margin: auto;
}

.quote {
    font-size: 36px;
    font-style: italic;
    /*text-align: start;*/
       
}

.said-by {
    display: flex;
    font-weight: bold;
    /*margin-left: 365px;*/
    justify-content: flex-end;
    
}